@font-face {
  font-family: BigJohn;
  src: url(../font/BigJohn.otf); }
@font-face {
  font-family: georgia;
  src: url(../font/Georgia.ttf); }
*, body {
  margin: 0;
  padding: 0;
  font-family: Old Standard TT, Times, serif; }

* + * {
  margin-top: 1rem; }

article {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem; }

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.5em; }

p {
  font-size: 1rem;
  line-height: 1.5em;
  line-height: 1.5rem; }

p:first-child::first-letter, :not(p) + p:first-letter {
  font-size: 1.5rem; }

p + p {
  text-indent: 2rem; }

.title {
  font-family: BigJohn; }

.content {
  font-family: georgia; }
