@font-face {
  font-family: NeutrafaceText-book;
  src: url(../font/NeutrafaceText-Book.otf); }
@font-face {
  font-family: NeutrafaceText-light;
  src: url(../font/NeutrafaceText-Light.otf); }
@font-face {
  font-family: georgia;
  src: url(../font/Georgia.ttf); }
@font-face {
  font-family: neutraface-b;
  src: url(../font/NeutrafaceText-Bold.otf); }
@font-face {
  font-family: neutraface-d;
  src: url(../font/NeutrafaceText-Demi.otf); }
@font-face {
  font-family: BigJohn;
  src: url(../font/BigJohn.otf); }
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial'; }

.logo {
  position: absolute;
  z-index: 100;
  margin-top: 30px;
  margin-left: 80px;
  width: 100px; }

/* PANEL */
.panel {
  min-height: 100%;
  position: relative;
  width: 100%; }

#framecontent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  /*Width of frame div*/
  height: 100%;
  overflow: hidden;
  /*Disable scrollbars. Set to "scroll" to enable*/
  background: navy;
  color: white; }

#panel-name-1 p {
  font-family: georgia;
  font-size: 14.5px; }
#panel-name-1 .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  #panel-name-1 .sidebar h1 {
    color: white;
    text-align: center; }
  #panel-name-1 .sidebar .sidebar-template-title {
    padding-top: 50%;
    padding-right: 30%;
    font-size: 30px;
    color: #243e55; }
    #panel-name-1 .sidebar .sidebar-template-title ::first-letter {
      text-transform: uppercase; }
    #panel-name-1 .sidebar .sidebar-template-title strong {
      font-size: 50px;
      font-family: BigJohn;
      margin-left: 23%; }
#panel-name-1 .contain-right {
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  margin: auto; }
  #panel-name-1 .contain-right h1 {
    color: black;
    position: relative; }
  #panel-name-1 .contain-right .template-top {
    padding-left: 95px;
    width: 80%; }
    #panel-name-1 .contain-right .template-top .first-content {
      top: 60px;
      left: 120px;
      position: relative;
      width: 70%; }
    #panel-name-1 .contain-right .template-top .title-template-right-top {
      padding-top: 2%;
      font-family: BigJohn;
      color: #5d7580; }
      #panel-name-1 .contain-right .template-top .title-template-right-top p {
        font-family: georgia;
        font-size: 14.5px; }
    #panel-name-1 .contain-right .template-top .title-template-right-top-1 {
      color: #5d7580;
      padding-top: 2%;
      font-family: BigJohn; }
      #panel-name-1 .contain-right .template-top .title-template-right-top-1 p {
        font-family: georgia; }
#panel-name-1 .contain-right .second-content {
  top: 120px;
  left: 120px;
  position: relative;
  width: 70%; }
#panel-name-1 .template-situation {
  width: 47%;
  margin-left: 2%;
  display: inline-block; }
  #panel-name-1 .template-situation h1 {
    color: #5d7580;
    font-family: neutraface-d;
    font-size: larger; }

#panel-name-2 {
  background-repeat: no-repeat;
  background-size: cover; }
  #panel-name-2 p {
    font-family: georgia;
    font-size: 14.5px; }
  #panel-name-2 .title-template {
    text-align: center;
    color: #5d7580;
    font-family: BigJohn;
    padding-top: 5%;
    font-size: 28px; }
  #panel-name-2 .float-box {
    float: left;
    width: 300px;
    padding-left: 40px;
    padding-top: 4.25%;
    text-align: justify; }
  #panel-name-2 .title-template-1 {
    font-family: neutraface-b;
    color: #5d7580; }
  #panel-name-2 .card {
    width: 60%;
    height: 100%;
    float: right;
    margin-right: 100px;
    margin-top: 80px;
    border: 2px solid #b9c1c6;
    -moz-box-shadow: 3px 3px 5px 2px #656565;
    -webkit-box-shadow: 3px 3px 5px 2px #656565;
    -o-box-shadow: 3px 3px 5px 2px #656565;
    box-shadow: 3px 3px 5px 2px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=5); }
    #panel-name-2 .card h1.text-illustration {
      margin-left: 2%;
      font-family: neutraface-b;
      color: #5d7580; }
    #panel-name-2 .card .card-box {
      width: 150px;
      height: 267px;
      margin-left: 2%;
      margin-top: 2%;
      margin-bottom: 5%;
      display: inline-block;
      word-wrap: break-word;
      border: 2px solid #6d7e88; }
      #panel-name-2 .card .card-box .myimage {
        width: inherit;
        height: 64%; }
        #panel-name-2 .card .card-box .myimage p {
          text-align: center;
          font-family: georgia; }
          #panel-name-2 .card .card-box .myimage p ::first-letter {
            text-transform: capitalize; }
        #panel-name-2 .card .card-box .myimage img {
          max-width: 150px;
          height: 100%; }

#panel-name-3 {
  background-repeat: no-repeat;
  background-size: cover; }
  #panel-name-3 p {
    font-family: georgia; }
  #panel-name-3 .title-template {
    text-align: center;
    color: #5d7580;
    font-family: BigJohn;
    padding-top: 5%;
    font-size: 28px; }
  #panel-name-3 .float-box {
    float: left;
    width: 300px;
    padding-left: 40px;
    padding-top: 4.25%;
    text-align: justify; }
  #panel-name-3 .title-template-1 {
    font-family: neutraface-b;
    color: #5d7580; }
  #panel-name-3 .card {
    width: 60%;
    height: 100%;
    float: right;
    margin-right: 100px;
    margin-top: 80px;
    border: 2px solid #b9c1c6;
    -moz-box-shadow: 3px 3px 5px 2px #656565;
    -webkit-box-shadow: 3px 3px 5px 2px #656565;
    -o-box-shadow: 3px 3px 5px 2px #656565;
    box-shadow: 3px 3px 5px 2px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=5); }
    #panel-name-3 .card h1.text-illustration {
      margin-left: 2%;
      font-family: neutraface-b;
      color: #5d7580; }
    #panel-name-3 .card .card-box {
      width: 150px;
      height: 267px;
      margin-left: 2%;
      margin-top: 2%;
      margin-bottom: 5%;
      display: inline-block;
      word-wrap: break-word;
      border: 2px solid #6d7e88; }
      #panel-name-3 .card .card-box .myimage {
        width: inherit;
        height: 64%; }
        #panel-name-3 .card .card-box .myimage p {
          text-align: center;
          font-family: georgia; }
          #panel-name-3 .card .card-box .myimage p ::first-letter {
            text-transform: capitalize; }
        #panel-name-3 .card .card-box .myimage img {
          max-width: 150px;
          height: 100%; }

#panel-name-4 {
  background-repeat: no-repeat;
  background-size: cover; }
  #panel-name-4 p {
    font-family: georgia; }
  #panel-name-4 .title-template {
    text-align: center;
    color: #5d7580;
    font-family: BigJohn;
    padding-top: 5%;
    font-size: 28px; }
  #panel-name-4 .float-box {
    float: left;
    width: 300px;
    padding-left: 60px;
    padding-top: 4.25%;
    text-align: justify; }
  #panel-name-4 .title-template-1 {
    font-family: neutraface-b;
    color: #5d7580; }
  #panel-name-4 .card {
    width: 60%;
    height: 100%;
    float: right;
    margin-right: 100px;
    margin-top: 80px;
    border: 2px solid #b9c1c6;
    -moz-box-shadow: 3px 3px 5px 2px #656565;
    -webkit-box-shadow: 3px 3px 5px 2px #656565;
    -o-box-shadow: 3px 3px 5px 2px #656565;
    box-shadow: 3px 3px 5px 2px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=5); }
    #panel-name-4 .card h1.text-illustration {
      margin-left: 2%;
      font-family: neutraface-b;
      color: #5d7580; }
    #panel-name-4 .card .card-box {
      width: 150px;
      height: 267px;
      margin-left: 2%;
      margin-top: 2%;
      margin-bottom: 5%;
      display: inline-block;
      word-wrap: break-word;
      border: 2px solid #6d7e88; }
      #panel-name-4 .card .card-box .myimage {
        width: inherit;
        height: 64%; }
        #panel-name-4 .card .card-box .myimage p {
          text-align: center;
          font-family: georgia; }
          #panel-name-4 .card .card-box .myimage p ::first-letter {
            text-transform: capitalize; }
        #panel-name-4 .card .card-box .myimage img {
          max-width: 150px;
          height: 100%; }
