@font-face {
  font-family: NeutrafaceText-book;
  src: url(../font/NeutrafaceText-Book.otf); }
body {
  background-color: #fff;
  text-align: center; }

header button {
  background-color: #66219b;
  width: 155px;
  height: 30px;
  border: none;
  border-radius: 5px;
  float: left;
  margin-left: 10%; }

header a {
  text-decoration: none;
  font-family: NeutrafaceText-Book;
  font-size: 13px;
  color: #FFF; }

.slogan {
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  color: #66219b; }

.card {
  display: inline-block;
  width: 300px;
  margin: 1% 1% 1% 1%;
  border: 3px solid #66219b; }

.card-content {
  width: 85%;
  margin: 35px auto;
  word-wrap: break-word; }
  .card-content h3 {
    font-size: 25px;
    margin-bottom: 0;
    color: #66219b;
    font-family: Montserrat, sans-serif;
    text-align: center; }
  .card-content h4 {
    font-size: 14px;
    margin-top: 0;
    color: black;
    font-family: Montserrat, sans-serif;
    text-align: center; }
  .card-content p {
    color: #727272;
    font-size: 12px;
    font-family: Open Sans, sans-serif; }

.card-footer {
  padding: 5px; }
  .card-footer ul {
    padding: 0;
    width: 90%;
    margin: auto;
    text-align: center; }
    .card-footer ul li {
      display: inline-block;
      list-style: none;
      margin: 5px; }
      .card-footer ul li i {
        font-size: 2em;
        color: #3f51b5; }
